.footer{
    background-color: #45525e;
    padding: 10px 20px;
    gap: 20px;
    width: 65%;
    margin: auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 0%);
}
.footer .tagline{
    color: #fff;
    letter-spacing: 1px;
    font-weight: bolder;
}

.footer a{
    color: #dedeff;
}


@media screen and (max-width: 768px) {
    .footer{
        width: 100%;
        border-radius: 0px;
    }
}
