.fx{
  display: flex;
  align-items: center;
  justify-content: center;
}
body{
  background-color: #f0f8ff;
}
.container{
  height: 60vh;
}
.App{
  flex-direction: column;
  align-items: start;
  width: 60%;
  gap: 40px;
}
.App .paragraph{
  text-align: justify;
  font-size: 1.5rem;
}

.App .inp-container{
  gap: 20px;
  width: 90%;
}
.inp-container .inptext{
  font-size: 1.5rem;
  padding: 10px;
  border-radius: 10px;
  border: solid 2px #637483;
  width: 100%;
}
.inp-container .inptext:focus{
  outline: none;
}

.inp-container .timer{
  font-size: 1.5rem;
  background-color: #637483;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
}
.icon{
  display: inline-block;
  vertical-align: middle;
}
.inp-container .refresh{
  background-color: #339e33;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.5rem;
  border: none;
  cursor: pointer;
}

.active{
  padding: 0px 5px;
  border-radius: 5px;
}