@import url('https://fonts.googleapis.com/css2?family=Martian+Mono:wght@600&family=Open+Sans&display=swap');
.fx{
  display: flex;
  align-items: center;
  justify-content: center;
}
*{
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 0;
}
body{
  background-color: #f0f8ff;
}
.App{
  flex-direction: column;
  align-items: start;
  gap: 20px;
  width: 65%;
  margin: auto;
  margin-top: 30px;
  background-color: #fff;
  border: solid 1px #b3c4cc;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px #24475f1a,
  0px 2px 5px #24475f77;
  margin-bottom: 10px;
}
.App .paragraph{
  text-align: justify;
  font-size: 1.3rem;
  color: #697c8b;
  color: #000;
  border-bottom: solid 1px #c9cdcf;
  padding-bottom: 20px;
  line-height: 1.6;
}

.App .inp-container{
  gap: 20px;
}
.inp-container .inptext{
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 10px;
  border: solid 2px #637483;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
}
.inp-container .inptext:focus{
  outline: none;
}

.inp-container .timer{
  font-size: 1.3rem;
  background-color: #637483;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
}
.icon{
  display: inline-block;
  vertical-align: middle;
}
.inp-container .refresh{
  background-color: #54bd54;
  color: #d3fcd3;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
  width: 250px;
  gap: 10px;
}

.active{
  padding: 0px 5px;
  border-radius: 5px;
}

.message{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.2rem;
  flex-direction: column;
  gap: 20px;
  display: none;
}

.level{
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.1rem;
}

@media screen and (max-width : 768px) {
  .container{
    display: none;
  }
  .message{
    display: block;
    text-align: center;
  }
}