.fx{
  display: flex;
  align-items: center;
  justify-content: center;
}
*{
  font-family: 'Open sans';
  margin: 0;
  padding: 0;
}
body{
  background-color: #f0f8ff;
}
.App{
  flex-direction: column;
  align-items: start;
  gap: 40px;
  width: 65%;
  margin: auto;
  margin-top: 50px;
  background-color: #fff;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 20px #24475f0e,
  1px 2px 5px #24475f11;
  margin-bottom: 30px;
}
.App .paragraph{
  text-align: justify;
  font-size: 1.3rem;
  color: #697c8b;
  color: #000;
  border-bottom: solid 1px #c9cdcf;
  padding-bottom: 30px;
  line-height: 1.6;
}

.App .inp-container{
  gap: 20px;
}
.inp-container .inptext{
  font-size: 1.3rem;
  padding: 10px;
  border-radius: 10px;
  border: solid 2px #637483;
  width: 100%;
}
.inp-container .inptext:focus{
  outline: none;
}

.inp-container .timer{
  font-size: 1.3rem;
  background-color: #637483;
  padding: 10px 20px;
  border-radius: 10px;
  color: #fff;
  font-family: "Open sans";
}
.icon{
  display: inline-block;
  vertical-align: middle;
}
.inp-container .refresh{
  background-color: #54bd54;
  color: #d3fcd3;
  padding: 10px 20px;
  border-radius: 10px;
  font-size: 1.3rem;
  border: none;
  cursor: pointer;
  width: 250px;
  gap: 10px;
  font-family: "Open sans";
}

.active{
  padding: 0px 5px;
  border-radius: 5px;
}
.result-container{
  width: 65%;
  margin: auto;
  margin-top: 50px;
  background-color: #fff;
  padding: 20px;
  border: solid 1px #c9cdcf;
  border-radius: 10px;
  box-shadow: 0px 10px 20px #24475f0e,
  1px 2px 5px #24475f11;
}

.result-container .heading{
  font-size: 1.2rem;
  margin-bottom: 15px;
  font-weight: bolder;
}

.result-container .num{
  font-size: 2rem;
  color: #339e33;
  font-weight: bolder;
}

.result-container .word-text{
  flex-direction: column;
  width: 25%;
}

.result-container .val{
  font-size: 1.2rem;
  font-weight: bolder;
  color: #697c8b;
}